/* MEDIA QUERY MANAGER

/////////////////////
//All breakpoints:

mobile-s: 0;
mobile-p: 480px;
mobile-l: 600px;
mobile-xl: 657px;
tablet-p: 768px;
tablet-l: 1024px;
desktop-m: 1230px;
desktop-l: 1404px;
desktop-xl: 1920px;

/////////////////////
//Breakpoints used:

0 - 768px      Phone
768 - 1024px   Tablet portrait
1024 - 1230px  Tablet landscape
1230 - 1920px  Desktop
1920px +       Big desktop

/////////////////////
//$breakpoint argument choices:

-phone
-tab-port
-tab-land
-desktop
-big-desktop

/////////////////////
//Mixin usage example:

  @include respond(tab-port) {
        font-size: 50%;
    }
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  50% {
    opacity: 0;
    transform: translateX(20rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 37.5%; }
  @media only screen and (min-width: 48em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 64em) {
    html {
      font-size: 62.5%; } }

body {
  font-family: "Nunito Sans", sans-serif;
  color: #504d41;
  font-weight: 400;
  line-height: 1.6;
  display: flex;
  flex-direction: column; }

.heading-primary {
  color: #f6f1ee;
  text-transform: uppercase;
  line-height: 1;
  padding: 2rem; }
  header .heading-primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .heading-primary--main {
    font-size: 7rem;
    font-weight: 900;
    text-align: center;
    animation: moveInLeft 1s ease-out; }
    @media only screen and (min-width: 76.87em) {
      .heading-primary--main {
        font-size: 10rem; } }
  .heading-primary--sub {
    font-size: 3rem;
    font-weight: 300;
    animation: moveInRight 2s cubic-bezier(0.68, -0.55, 0.74, 1.76); }

.heading-secondary {
  color: #f6f1ee;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  padding: 2rem; }

.paragraph {
  font-size: 1.3rem;
  margin-top: 1rem;
  color: #504d41;
  text-align: center;
  font-weight: 300; }

.entertainment {
  background-color: #504d41; }

.card__picture--entertainment1 {
  background-image: url(../../img/entertainment_1.jpeg); }

.card__picture--entertainment2 {
  background-image: url(../../img/entertainment_2.jpeg); }

.card__picture--entertainment3 {
  background-image: url(../../img/entertainment_3.jpg); }

.events {
  background-color: #504d41; }

.card__picture--1 {
  background-image: url(../../img/event_1.jpg); }

.card__picture--2 {
  background-image: url(../../img/event_2.jpeg); }

.card__picture--3 {
  background-image: url(../../img/event_3.jpg); }

.food {
  background-color: #ada78e; }

.card__picture--food1 {
  background-image: url(../../img/food_1.jpg); }

.card__picture--food2 {
  background-image: url(../../img/food_2.jpeg); }

.card__picture--food3 {
  background-image: url(../../img/food_3.jpeg); }

.newsletter {
  height: 50vh;
  max-width: 100vw;
  background-image: url(../../img/newsletter.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-start; }
  @media only screen and (min-width: 48em) {
    .newsletter {
      height: 70vh; } }
  @media only screen and (min-width: 76.87em) {
    .newsletter {
      height: 85vh; } }
  .newsletter__sign-up {
    width: 80%;
    height: 80%;
    background-color: rgba(80, 77, 65, 0.5);
    text-align: center; }
    @media only screen and (min-width: 64em) {
      .newsletter__sign-up {
        height: 90%;
        width: 60%; } }
    @media only screen and (min-width: 76.87em) {
      .newsletter__sign-up {
        height: 70%;
        width: 60%; } }
  .newsletter__heading {
    font-size: 4rem;
    line-height: 1.2;
    text-align: left; }
    @media only screen and (min-width: 48em) {
      .newsletter__heading {
        width: 70%; } }
    @media only screen and (min-width: 76.87em) {
      .newsletter__heading {
        width: 50%; } }
  .newsletter__form {
    margin: 2rem; }
  .newsletter__input {
    padding: 1rem 2rem;
    outline: 0;
    font-family: inherit; }
    .newsletter__input--email {
      width: 100%;
      border: 1px solid #ada78e; }
      .newsletter__input--email:focus {
        border: 1px solid #504d41; }
    .newsletter__input--submit {
      float: right;
      margin-top: 2rem;
      background-color: #ada78e;
      color: #f6f1ee;
      border: none; }
      @media only screen and (min-width: 76.87em) {
        .newsletter__input--submit {
          font-size: 2rem; } }
      .newsletter__input--submit:hover {
        cursor: pointer;
        background-color: #504d41; }

.sightseeing {
  background-color: #ada78e;
  padding: 2rem; }
  @media only screen and (min-width: 76.87em) {
    .sightseeing {
      min-height: 60rem; } }

.sights {
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 2rem; }
  .sights__text {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column; }
    @media only screen and (min-width: 48em) {
      .sights__text {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 70%;
        margin: 2rem; } }
    @media only screen and (min-width: 76.87em) {
      .sights__text {
        padding: 2rem; } }
  .sights__heading {
    color: #504d41;
    text-transform: uppercase; }
    @media only screen and (min-width: 48em) {
      .sights__heading {
        text-align: left;
        padding: 0 1rem 0 0;
        font-size: 4rem;
        line-height: 1.2;
        width: 50%; } }
    @media only screen and (min-width: 76.87em) {
      .sights__heading {
        padding: 0 8rem; } }
  @media only screen and (min-width: 48em) {
    .sights__details {
      text-align: left;
      font-size: 2.5rem;
      margin: 0 1rem;
      width: 50%;
      line-height: 1.2; } }
  .sights__img {
    background-size: cover;
    background-position: bottom;
    display: inline-block;
    height: 40rem; }
    @media only screen and (min-width: 76.87em) {
      .sights__img {
        height: 60rem; } }
    .sights__img--1 {
      background-image: url(../../img/sightseeing_1.jpg);
      width: 70%; }
      @media only screen and (min-width: 48em) {
        .sights__img--1 {
          transform: translate(30%, -10%);
          height: 20rem;
          margin-top: 2rem;
          background-position: center; } }
      @media only screen and (min-width: 76.87em) {
        .sights__img--1 {
          height: 35rem;
          transform: translate(10%, -10%); } }
    .sights__img--2 {
      background-image: url(../../img/sightseeing_2.jpg);
      width: 30%;
      float: right; }
      @media only screen and (min-width: 48em) {
        .sights__img--2 {
          height: 100%;
          width: 25%;
          position: absolute;
          top: 0;
          right: 0; } }
      @media only screen and (min-width: 76.87em) {
        .sights__img--2 {
          margin-right: 8rem;
          width: 20%; } }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  background-color: transparent;
  color: #f6f1ee;
  font-size: 2rem;
  border: 1px solid #f6f1ee;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 2px;
  transition: all .2s; }

.btn:active, .btn:focus {
  outline: none; }

.btn:hover {
  cursor: pointer;
  background-color: #f6f1ee;
  color: #504d41; }

.footer {
  background-color: #504d41;
  min-height: 10vh; }

.copyright {
  color: #ada78e;
  text-align: left;
  margin: 2rem; }

.header {
  height: 50vh;
  width: 100%;
  background-image: url(../../img/header_2.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 48em) {
    .header {
      height: 75vh; } }
  @media only screen and (min-width: 64em) {
    .header {
      height: 85vh; } }
  .header__text-box {
    width: 100%;
    background-color: rgba(80, 77, 65, 0.4);
    text-align: center; }

.category {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem; }
  @media only screen and (min-width: 64em) {
    .cards {
      flex-direction: row; } }

.card {
  position: relative;
  margin-bottom: 4rem; }
  @media only screen and (min-width: 64em) {
    .card {
      margin: 2rem; } }
  @media only screen and (min-width: 76.87em) {
    .card:hover .card__link {
      visibility: visible; } }
  @media only screen and (min-width: 76.87em) {
    .card:hover .card__front {
      filter: brightness(30%); } }
  .card__front {
    max-width: 70vw;
    background-color: #f6f1ee;
    border-radius: 1px;
    overflow: hidden;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    transition: all .4s; }
  .card__link {
    text-decoration: none;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    color: #f6f1ee;
    visibility: hidden;
    line-height: 1.2;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .2s ease-in-out; }
  .card__picture {
    height: 25rem;
    width: 100%;
    background-size: cover;
    background-position: center; }
  .card__details {
    padding: 2rem;
    color: #504d41;
    text-align: center; }
  .card__heading {
    font-size: 2rem;
    font-weight: 600; }
