/* MEDIA QUERY MANAGER

/////////////////////
//All breakpoints:

mobile-s: 0;
mobile-p: 480px;
mobile-l: 600px;
mobile-xl: 657px;
tablet-p: 768px;
tablet-l: 1024px;
desktop-m: 1230px;
desktop-l: 1404px;
desktop-xl: 1920px;

/////////////////////
//Breakpoints used:

0 - 768px      Phone
768 - 1024px   Tablet portrait
1024 - 1230px  Tablet landscape
1230 - 1920px  Desktop
1920px +       Big desktop

/////////////////////
//$breakpoint argument choices:

-phone
-tab-port
-tab-land
-desktop
-big-desktop

/////////////////////
//Mixin usage example:

  @include respond(tab-port) {
        font-size: 50%;
    }
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  50% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 37.5%; }
  @media only screen and (min-width: 48em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 64em) {
    html {
      font-size: 62.5%; } }

body {
  font-family: "Nunito Sans", sans-serif;
  color: #504d41;
  font-weight: 400;
  line-height: 1.6;
  display: flex;
  flex-direction: column; }

.heading-primary {
  color: #f6f1ee;
  text-transform: uppercase;
  line-height: 1;
  padding: 2rem; }
  header .heading-primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .heading-primary--main {
    font-size: 7rem;
    font-weight: 900;
    text-align: center;
    animation: moveInLeft 1s ease-out; }
  .heading-primary--sub {
    font-size: 3rem;
    font-weight: 300;
    animation: moveInRight 2s cubic-bezier(0.68, -0.55, 0.74, 1.76); }

.header {
  height: 50vh;
  width: 100%;
  background-image: url(../../img/header_2.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 48em) {
    .header {
      height: 75vh; } }
  @media only screen and (min-width: 64em) {
    .header {
      height: 85vh; } }
  .header__text-box {
    width: 100%;
    background-color: rgba(80, 77, 65, 0.4);
    text-align: center; }
