*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito Sans", sans-serif;
  color: #504d41;
  font-weight: 400;
  line-height: 1.6;
  display: flex;
  flex-direction: column; }

.heading-primary {
  color: #f6f1ee;
  text-transform: uppercase;
  line-height: .8;
  padding: 4rem; }
  .heading-primary--main {
    font-size: 10rem;
    font-weight: 900;
    display: inline-block; }
  .heading-primary--sub {
    font-size: 5rem;
    display: inline-block; }

.header {
  height: 90vh;
  background-image: url(../../img/header_1.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header__text-box {
    width: 100%;
    background-color: rgba(80, 77, 65, 0.4);
    text-align: center; }
