//COLORS

$color-primary: #504d41;
$color-primary-light: #ada78e;
$color-white: #f6f1ee;

//FONT

$font-primary: 'Nunito Sans', sans-serif;

//SHADOW

$shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
$shadow-light: 0 2rem 5rem rgba(0,0,0,.06);