.events {
    background-color: $color-primary;
}

.card__picture {
        &--1 {
            background-image: url(../../img/event_1_phone.jpg);

            @include respond(tab-port) {
                background-image: url(../../img/event_1_tab-port.jpg);
            }
            @include respond(tab-land) {
                background-image: url(../../img/event_1_tab-land.jpg);
            }
            @include respond(desktop) {
                background-image: url(../../img/event_1_desktop.jpg);
            }
        }
        &--2 {
            background-image: url(../../img/event_2_phone.jpg);

            @include respond(tab-port) {
                background-image: url(../../img/event_2_tab-port.jpg);
            }
            @include respond(desktop) {
                background-image: url(../../img/event_2_desktop.jpg);
            }
        }
        &--3 {
            background-image: url(../../img/event_3_phone.jpg);

            @include respond(tab-port) {
                background-image: url(../../img/event_3_tab-port.jpg);
            }
            @include respond(desktop) {
                background-image: url(../../img/event_3_desktop.jpg);
            }
        }
    }