.header {
    height: 50vh;
    width: 100%;
    background-image: url(../../img/header_1.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(tab-port) {
        height: 75vh;
    }
    @include respond(tab-land) {
        height: 85vh;
    }

    &__text-box {
        width: 100%;
        background-color: rgba($color-primary, .4);
        text-align: center;
    }
}