.header-cathegory {
    background-color: $color-primary-light;
    position: relative;

    .heading-secondary {
        font-size: 4rem;
        //display: inline-block;
    }
}
.main-cathegory {
    background-color: $color-primary;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2rem;

    @include respond(tab-port) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}
