.events {
    width: 100vw;
    background-color: $color-primary;
}

.event-cards {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
}

.card {
    width: 70vw;

    &__picture {
        height: 25rem;
        width: 100%;
        background-size: cover;
        background-position: center;

        &--1 {
            background-image: url(../../img/event_1.jpg);
        }
        &--2 {
            background-image: url(../../img/event_2.jpeg);
        }
        &--3 {
            background-image: url(../../img/event_3.jpg);
        }
    }
    &__details {

    }
    &__heading {

    }
    &__text {

    }
}