.events {
    background-color: $color-primary;
}

.card__picture {
        &--1 {
            background-image: url(../../img/event_1.jpg);
        }
        &--2 {
            background-image: url(../../img/event_2.jpeg);
        }
        &--3 {
            background-image: url(../../img/event_3.jpg);
        }
        &--4 {
            background-image: url(../../img/event_1.jpg);
        }
        &--5 {
            background-image: url(../../img/event_2.jpeg);
        }
        &--6 {
            background-image: url(../../img/event_3.jpg);
        }
    }