.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    line-height: .8;
    padding: 2rem;

    &--main {
    font-size: 5rem;
    font-weight: 900;
    display: block;
    }

    &--sub {
    font-size: 2rem;
    display: block;
    }
}