.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    line-height: .8;
    padding: 4rem;

    &--main {
    font-size: 10rem;
    font-weight: 900;
    display: inline-block;

    }

    &--sub {
    font-size: 5rem;
    display: inline-block;

    }
}