.calendar {
    &__month {
        font-size: 4rem;
        font-weight: 300;
        color: $color-white;
        font-family: inherit;
        margin: 2rem 0;
        width: 100vw;
        text-align: center;
    }

    &__event {
        position: relative;
    }

    &__date {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        font-size: 6rem;
        color: $color-white;
        background-color: rgba($color-primary, .4);
        border: 2px solid $color-white;
        padding: 0 1rem;
    }
}