.sight {
    max-width: 90vw;
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(tab-port) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
    }

    &__picture {
        width: 100%;
        height: 30rem;
        background-size: cover;
        background-position: center;
        margin-bottom: 2rem;
        background-image: url(../../img/sightseeing_1_phone.jpg);

        @include respond(tab-port) {
            background-image: url(../../img/sightseeing_1_tab-port.jpg);
            width: 50%;
            height: 30rem;
        }
        @include respond(desktop) {
            background-image: url(../../img/sightseeing_1_desktop.jpg);
        }
    }

    &__details {

        @include respond(tab-port) {
            margin-left: 2rem;
            width: 50%;
        }
    }

    &__heading {
        color: $color-white;
        font-weight: 800;
        text-align: center;
        font-size: 3rem;

        @include respond(tab-port) {
            text-align: left;
            font-size: 2.5rem;
        }
    }

    &__text {
        color: $color-white;
        font-size: 2.5rem;
        line-height: 1.4;

        @include respond(tab-port) {
            text-align: left;
            font-size: 2rem;
        }
    }
}